@model List<TheEvent.DAL.Entities.Ticket>


<section id="buy-tickets" class="buy-tickets section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Biletini Şimdi Al!<br></h2>
        <p>
            Etkinliğimizde yerinizi almak için geç kalmayın! Biletinizi şimdi alın, teknoloji ve ilham dolu bu eşsiz deneyimin bir parçası olun.

        </p>
    </div><!-- End Section Title -->

    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row gy-4 pricing-item" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-3 d-flex align-items-center justify-content-center">
                    <h3>@item.Title</h3>
                </div>
                <div class="col-lg-3 d-flex align-items-center justify-content-center">
                    <h4><sup>$</sup>@item.Price<span> / Ay</span></h4>
                </div>
                <div class="col-lg-3 d-flex align-items-center justify-content-center">
                    <ul>
                        <li><i class="@item.Feature1"></i> <span>Ücretsiz İçcek</span></li>
                        <li><i class="@item.Feature2"></i> <span>VIP Giriş</span></li>
                        <li class="na"><i class="@item.Feature3"></i> <span>Ön Sıra Koltuk</span></li>
                    </ul>
                </div>
                <div class="col-lg-3 d-flex align-items-center justify-content-center">
                    <div class="text-center"><a href="#" class="buy-btn">Şimdi Al</a></div>
                </div>
            </div><!-- End Pricing Item -->
        }


    </div>

</section>