@model List<TheEvent.DAL.Entities.Venue>

<section id="venue" class="venue section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Etkinlik Mekanı<br></h2>
        <p>Mekana dair daha detaylı bilgileri inceleyebilirsiniz.</p>
    </div><!-- End Section Title -->

    <div class="container-fluid" data-aos="fade-up">

        <div class="row g-0">
            <div class="col-lg-6 venue-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.6243092159025!2d28.958652576284596!3d41.011595471350056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab98e58b256a9%3A0xc0ea785c078cd303!2sIstanbul%20Universitesi%20Kongre%20ve%20Kultur%20Merkezi!5e0!3m2!1str!2str!4v1752826977342!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            
            </div>

            <div class="col-lg-6 venue-info">
                <div class="row justify-content-center">
                  @foreach (var venue in Model)
                  {
                    <div class="col-11 col-lg-8 position-relative">
                        <h3>@venue.Title</h3>
                        <p>@venue.Description</p>
                    </div>
                  }
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">
            @* Her venue'nin 1 görseli varsa: *@
            @foreach (var venue in Model)
            {
                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="@venue.ImageUrl" class="glightbox" data-gall="venue-gallery">
                            <img src="@venue.ImageUrl" alt="@venue.Title" class="img-fluid">
                        </a>
                    </div>
                </div>
            }

            @* Eğer ImageUrl içinde çoklu görsel (örneğin: url1;url2;url3) varsa: *@
            @* 
            @foreach (var venue in Model)
            {
                if (!string.IsNullOrEmpty(venue.ImageUrl))
                {
                    foreach (var image in venue.ImageUrl.Split(';'))
                    {
                        <div class="col-lg-3 col-md-4">
                            <div class="venue-gallery">
                                <a href="@image" class="glightbox" data-gall="venue-gallery">
                                    <img src="@image" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    }
                }
            }
            *@
        </div>
    </div>

</section>



   

